#HomeContent{
    padding: 10px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 50px;
    width: 100vw;
    height: 100vh;
    background-image: url("concepto-lectura-enfoque-suave-mujer-joven-que-relaja-libro-cafe-cozy-house_34048-399.jpg");
}

#userName,#pass{
    height: 2rem;
    margin: 3%;
}

#loginSubmit{
    height: 2rem;
    line-height: .5;
    background-color: #459ED0;
}

.seperator10{
    height: 5vh;
}

label{
    margin: 0 !important;
}

.signUpForm input{
    padding: 3px 5px !important;
}

#loginSubmit{
    margin-left: 15px;
}
.picLabel{
    float: left;
    color: #000;
}